*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins","sans-serif";
}
body{
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.wrapper{
    width: 430px;
    background-color: grey;
    border-radius: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
     border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.wrapper h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
    color: #fff;
    
}


.wrapper .input_box{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
    
    
}
.wrapper .input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 40px;
    outline: none;
    border: solid 2px pink;
    padding: 20px 45px 20px 20px;
    color: black;
}
.wrapper .input_box input:hover{
    box-shadow:
        0 0 10px rgba(255,182,193,0.8),
        0 0 20px rgba(255,182,193,0.6),
        0 0 35px rgba(255,182,193,0.4);

    border-color: #ffb6c1;
}
    


.input_box input::placeholder{
    color: #fff;
    font-size: 1rem;
}
.input_box .material-symbols-outlined.icon {
    position: absolute;
    right: 15px;      /* Pushes it away from the right edge */
    top: 50%;         /* Moves it down halfway */
    transform: translateY(-50%); /* Perfectly centers it vertically */
    font-size: 20px;
    pointer-events: none;
}
.wrapper .terms_conditions{
    display: flex;
    justify-content: space-between;
    
}
.wrapper .term_conditions{
    color: #fff;
}
.wrapper button{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapper button:hover{
    color: #fff;
    background-color: pink;
    box-shadow:
        0 0 8px rgba(128, 128, 128, 0.7),
        0 0 16px rgba(128, 128, 128, 0.5),
        0 0 30px rgba(128, 128, 128, 0.3);
}


.account{
    text-align: center;
    
}
.account a{
    color: #fff;
}
.account a:hover{
    color: pink;
}

