{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <div class="wrapper">
        <form method="POST">
            {% csrf_token %}
            <h1>Create your account</h1>
            <div class="input_box">
                <input type="text" name="first_name" placeholder="first name"  required >
                <span class="material-symbols-outlined icon">person</span>
                
                
            </div>
            <div class="input_box">
                <input type="text" name="last_name" placeholder="last name" required>
                <span class="material-symbols-outlined icon">person</span>
                
            </div>
            <div class="input_box">
                <input type="email" name="email" placeholder="Enter your email" required>
                <span class="material-symbols-outlined icon">email</span>
            </div>
             <div class="input_box">
                <input type="password" name="password1" placeholder="password" required>
                <span class="material-symbols-outlined icon">lock</span>
            </div>
            <div class="input_box">
                <input type="password" name="password2" placeholder="confirm password" required>
                <span class="material-symbols-outlined icon">lock</span>
            </div>
            <div class="terms_conditions">
                <label><input type="checkbox" checked>Agree to the terms and conditions</label>
            </div>
            <button type="submit">sign up</button>
            <div class="account">
                <a href="{% url 'login' %}">already have an account?</a>
            </div>
        </form>
    </div>
    
</body>
</html>