{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="wrapper">
        <form method="POST">
            <h1>Forgot password?</h1>
            <p>enter your email to reset your password</p>
            <div class="input_box">
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="button1">
                <a class="btn" href="{% url 'login' %} ">cancel</a>
                <button type="submit">reset password</button>

            </div>

        </form>

    </div>
</body>
</html>