{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts: Poppins (Weights: 400, 600, 700) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>log in</h1>
            <div class="input_box">
                <input type="text", placeholder="username",required>
                <span class="material-symbols-outlined icon">person</span>
                
            </div>
            <div class="input_box">
                <input type="password", placeholder="password",required>
                <span class="material-symbols-outlined icon">lock</span>
            
            </div>
             <div class="remember_forgot">
                <label><input type="checkbox", checked>remember me</label>
                <a href="#">forgot password</a>
            </div>
            <button>log in</button>
            <div class="register">
                <p>don't have an account?<a href="register.html">sign up</a></p>
                

            </div>
            

            
        </form>
    </div>
    
</body>
</html>